# Api gateway
API_GATEWAY_PORT=
API_GATEWAY_HEADER=
API_GATEWAY_TOKEN=
API_GATEWAY_PREFIX=

# Identity service
IDENTITY_SERVICE_HOST=
IDENTITY_SERVICE_PORT=
IDENTITY_POSTGRES_DB_HOST=
IDENTITY_POSTGRES_DB_PORT=
IDENTITY_POSTGRES_DB_USERNAME=
IDENTITY_POSTGRES_DB_PASSWORD=
IDENTITY_POSTGRES_DB_NAME=
IDENTITY_JWT_ISSUER=
IDENTITY_JWT_SECRET_KEY=
IDENTITY_JWT_PRIVATE_KEY=
IDENTITY_JWT_PUBLIC_KEY=
IDENTITY_JWT_ACCESS_TOKEN_VALID_DURATION=
IDENTITY_JWT_REFRESH_TOKEN_VALID_DURATION=
IDENTITY_ADMIN_USERNAME=
IDENTITY_ADMIN_EMAIL=
IDENTITY_ADMIN_PASSWORD=
IDENTITY_KAFKA_BOOTSTRAP_SERVER=
IDENTITY_KAFKA_CONSUMER_GROUP_ID=

# Profile service
PROFILE_SERVICE_HOST=
PROFILE_SERVICE_PORT=
PROFILE_SERVICE_GRPC_ADDRESS=
PROFILE_SERVICE_GRPC_PORT=
PROFILE_NEO4J_DB_HOST=
PROFILE_NEO4J_DB_HTTP_PORT=
PROFILE_NEO4J_DB_BOLT_PORT=
PROFILE_NEO4J_DB_USERNAME=
PROFILE_NEO4J_DB_PASSWORD=
PROFILE_KAFKA_BOOTSTRAP_SERVER=
PROFILE_KAFKA_CONSUMER_GROUP_ID=

# Notification service
NOTIFICATION_SERVICE_HOST=
NOTIFICATION_SERVICE_PORT=
NOTIFICATION_MONGO_DB_HOST=
NOTIFICATION_MONGO_DB_PORT=
NOTIFICATION_MONGO_DB_USERNAME=
NOTIFICATION_MONGO_DB_PASSWORD=
NOTIFICATION_MONGO_DB_NAME=
NOTIFICATION_KAFKA_BOOTSTRAP_SERVER=
NOTIFICATION_KAFKA_CONSUMER_GROUP_ID=
NOTIFICATION_BREVO_URL=
NOTIFICATION_BREVO_NAME=
NOTIFICATION_BREVO_EMAIL=
NOTIFICATION_BREVO_API_KEY=

# Post service
POST_SERVICE_HOST=
POST_SERVICE_PORT=
POST_MONGO_DB_HOST=
POST_MONGO_DB_PORT=
POST_MONGO_DB_USERNAME=
POST_MONGO_DB_PASSWORD=
POST_MONGO_DB_NAME=
POST_KAFKA_BOOTSTRAP_SERVER=
POST_KAFKA_CONSUMER_GROUP_ID=

# File service
FILE_SERVICE_HOST=
FILE_SERVICE_PORT=
FILE_MONGO_DB_HOST=
FILE_MONGO_DB_PORT=
FILE_MONGO_DB_USERNAME=
FILE_MONGO_DB_PASSWORD=
FILE_MONGO_DB_NAME=
FILE_MULTIPART_MAX_FILE_SIZE=
FILE_MULTIPART_MAX_REQUEST_SIZE=
FILE_STORAGE_DIR=
FILE_DOWNLOAD_PREFIX=
FILE_KAFKA_BOOTSTRAP_SERVER=
FILE_KAFKA_CONSUMER_GROUP_ID=

# Chat service
CHAT_SERVICE_HOST=
CHAT_SERVICE_PORT=
CHAT_MONGO_DB_HOST=
CHAT_MONGO_DB_PORT=
CHAT_MONGO_DB_USERNAME=
CHAT_MONGO_DB_PASSWORD=
CHAT_MONGO_DB_NAME=
CHAT_KAFKA_BOOTSTRAP_SERVER=
CHAT_KAFKA_CONSUMER_GROUP_ID=

# Search service
SEARCH_SERVICE_HOST=
SEARCH_SERVICE_PORT=
SEARCH_KAFKA_BOOTSTRAP_SERVER=
SEARCH_KAFKA_CONSUMER_GROUP_ID=

# Web
WEB_URL=

# Postgres
POSTGRES_DB_PORT=
POSTGRES_DB_USERNAME=
POSTGRES_DB_PASSWORD=
POSTGRES_DB_NAME=

# Mongodb
MONGO_DB_PORT=
MONGODB_ROOT_USER=
MONGODB_ROOT_PASSWORD=
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_DATABASE=

# Neo4j
NEO4J_DB_HTTP_PORT=
NEO4J_DB_BOLT_PORT=
NEO4J_DB_USERNAME=
NEO4J_DB_PASSWORD=
NEO4J_server_config_strict__validation_enabled=

# Kafka
KAFKA_CLIENT_PORT=
KAFKA_CONTROLLER_PORT=
KAFKA_INTER_BROKER_PORT=
KAFKA_NODE_ID=
KAFKA_PROCESS_ROLES=
KAFKA_LISTENERS=
KAFKA_ADVERTISED_LISTENERS=
KAFKA_CONTROLLER_LISTENER_NAMES=
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=
KAFKA_CONTROLLER_QUORUM_VOTERS=
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=
KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=
KAFKA_NUM_PARTITIONS=
