# Identity
POSTGRES_DB_HOST=
POSTGRES_DB_PORT=
POSTGRES_DB_USERNAME=
POSTGRES_DB_PASSWORD=
POSTGRES_DB_NAME=

# Profile
NEO4J_DB_HOST=
NEO4J_DB_HTTP_PORT=
NEO4J_DB_BOLT_PORT=
NEO4J_DB_USERNAME=
NEO4J_DB_PASSWORD=

# Post
MONGO_DB_HOST=
MONGO_DB_PORT=
MONGO_DB_USERNAME=
MONGO_DB_PASSWORD=
MONGO_DB_NAME=
